@{
    Layout = "MasterMEnu";
}
@model IEnumerable<ShopLibrary.Models.Product.Product>
<h2>Products</h2>
<div >
<table class="table">
    <thead>
    <tr>

        <th scope="row" onclick="location.href='@Url.Action("IndexA", "Menu",new {parameter = 1})'">ProductId</th>
        <th scope="row" onclick="location.href='@Url.Action("IndexA", "Menu",new {parameter = 2})'">ProductName</th>
        <th scope="row" onclick="location.href='@Url.Action("IndexA", "Menu",new {parameter = 3})'">ProductPrice</th>
        <th scope="row" onclick="location.href='@Url.Action("IndexA", "Menu",new {parameter = 4})'">ProductAmount</th>
        <th scope="row" onclick="location.href='@Url.Action("IndexA", "Menu",new {parameter = 5})'">ProductOrigin</th>
        <th scope="row">Add to basket</th>


    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {

        <tr>

            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Amount
            </td>
            <td>
                @item.Origin
            </td>
            <td>
                <input type="button" value="Add" onclick="location.href='@Url.Action("AddToBasket", "Menu",new {Id = @item.Id, source = 0})'" />
            </td>
            
        </tr>
    }
    </tbody>
</table> 
    <h3>Enter the number between 1 and 61</h3>
    @using (Html.BeginForm("IndexB", "Menu",  FormMethod.Post))
    {
        @Html.TextBox("page");
        <input type="submit" value="OK">
    }

</div>